/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Navbar styles */
header nav {
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.1);
}

nav div.logo img {
  width: 25rem;
}
nav h3 {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
nav #left-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon,
div.logo {
  padding: 2rem;
}
.icon img {
  width: 1.5rem;
}
#login-section {
  padding: 0 2rem;
}
#login-section button {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.7rem 1rem;
  background: #567b95;
  border-radius: 10%;
  text-transform: uppercase;
}
nav a {
  color: black;
  text-decoration: none;
}

/* Body Styles */
main img {
  width: 100rem;
}
div.share-panel img {
  width: 1.5rem;
}

/* Footer */
footer .newsletter img {
  width: 100px;
}
footer div.logo {
  width: 20rem;
}

/*footer-box section above the footercopyright*/
div.footer-box {
  width: 60%;
  display: block;
  margin: 0 auto;
  border-top: 2px solid #e2e2e2;
  margin-bottom: 0;
}


div.logo-2 {
  display: flex;
  justify-content: space-between;
}

a.home-logo {
  margin-top: 2rem;
  text-decoration: none;
  color: #60839B;
  font-size: 1.1rem;
}


div.cont-1 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

h3 {
  text-transform: uppercase;
  color: rgb(51, 51, 51);
    font-size: 1.3rem;
    font-weight: 700;
    height: 2.5rem;
    line-height: 1.5rem;
    width: 15rem;  
}




/*footer copyright*/
nav.footer-copyright {
  width: 60%;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
    padding-top: 9px;
}


nav.footer-copyright ul {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  color: #666;
  line-height: 2rem;
  font-size: 1.1rem;
}

